body {
	font-family: arial, sans-serif;
	color: #000000;
	background: #D3D3D3 url('http://4photos.net/photosv5/light_brown_wooden_laminate_as_a_textured_1357646096.jpg') repeat;
}



.logo {
	text-align: center;
	border: 10px solid #CD853F;
	margin: 5px 5px 5px 5px;
}

ul.nav {
	margin: 20px 0px 0px 0px;
	list-style: none;
	float: center;
}
ul.nav li {
	display: inline;
	margin-right: 120px;
    font-size: 15px;	
}

ul.nav li a {
	color: #CD853F;
}

ul {
 list-style: none;
 margin:0;
 padding:0;
 text-align:center;
}

.btn {
	color: #FAF3BC;
	background: #000000 url('img/texture.jpg') no-repeat right top;
	padding: 10px 10px;
	margin: 10px 0px;
	border-radius: 30px;
	text-transform: uppercase;

}
.btn:hover {
	background-color: #B22222;
	}

.menu {
	margin-left: 85px;
	text-align: left;
	font-size: 20px;
	border: 20px;


}

.category{
	color: red;

}

#border{
	border: 35px solid #000000;
	margin: 20px 40px 20px 80px;
	padding: 0px 10px 25px 0px;
}

#copyright {
	border-top: 8px solid #2A0400;
	padding: 10px 0px;
	margin: 15px 0px;
	text-align: center;
}

#contact {
	padding: 10px 0px;
	margin: 15px 120px 0px 0px;
	text-align: right;
	font-size: 20px;
	color: #000000;

}
